@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*-----GLOBAL DECLARATIONS-----*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cell-border-color:white;
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    background-color:lightgrey;
    min-height: 100vh;
}

/*---HEADER SECTION---*/

.header {
    font-family: 'Black Ops One', cursive;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 8vw;
    letter-spacing: 2vw;
    line-height: 22vh;
    text-align: center;
}